*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

#btnPrueba{
    width: 200px;
    height: 50px;
    background-color: orange;
    text-align: center;
    padding: 2%;
    margin: 40px 40px;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    cursor: pointer;
    border: 0;
}